boto3==1.35.30
langchain==0.3.19
langchain_aws==0.2.13
langchain_community==0.3.18
langchain_core==0.3.37
networkx==3.3
numpy==2.2.3
pandas==2.2.3
python-dotenv==1.0.1
scikit_learn==1.6.1
sentence_transformers==3.1.1
spacy==3.8.2
sqlparse==0.5.3
tqdm==4.66.5
